@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
-webkit-overflow-scrolling:touch;
/* html5요소 하위브라우져 적용 */
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block}
/* 모든 Device를 위한 공통 로드 */
*{font-family:Nanum Gothic !important;color:#333;font-size:12px;}
body{position:relative;background: url(../img/top_bgimg.png) no-repeat fixed;}
body,html{line-height:18px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure,figcaption{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
legend,caption{text-indent:-100%;*text-indent:0;white-space:nowrap;overflow:hidden;font-size:0;line-height:0;text-shadow:none;color:transparent;}
a {color:#177ddb;font-size:11px;font-family: Nanum Gothic;text-decoration: none;}
input,textarea,button,select{outline: none;resize: none;}
button {cursor:pointer;}


/*common*/
input,select {border-radius:3px;border: 1px solid #ccc;background: #fff;padding:5px;margin: 2px 0;}
.text_blue {color:#5e8cfc;}
.text_gray {color:#ccc}
.text_bold {font-weight:bold;}
.text_red {color:red}
.btn_blue{background:#5e8cfc !important;border:1px solid #336aee !important;color:#fff !important;font-weight:bold;}
.btn_blue_100{width:100%;display:inline;margin-top:10px;color:#fff;background: #5e8cfc;padding:10px;border-radius:5px;border:0;}
.btn_black{background:#666 !important;border:1px solid #333 !important;color:#fff !important;font-weight:bold;padding:5px 10px;border-radius:5px;}
.btn_gray{padding:10px 15px;background:#ccc;border:0;border-radius:8px;color:#fff;font-weight:bold;}
.btn_gray_s{padding:2px 5px !important;font-size:11px;background:#ccc;border:0;border-radius:8px;color:#fff;font-weight:bold;}
.line {border-bottom: 1px solid #ddd;}
.thumbnail{max-width:300px;margin: 5px 0;}
.long {width:100%;padding:6px;box-sizing: border-box;border-radius:3px; background: #fff; border: 1px solid #ccc;}
.long_textarea {height:500px;width:100%;padding:6px;box-sizing: border-box;border-radius:3px; background: #fff; border: 1px solid #ccc;}
.number {padding:20px;box-sizing: border-box;text-align: center;margin:0 auto;}
.number a {display: inline-block;padding:5px 10px;border:1px solid #aaa; background: #fff;color:#999;border-radius:5px;margin:2px;}
.number a.active {color:#fff;background: #333333;border:0 !important;} 
.input_list_1st{width:200px;}

.al_r {text-align: right;}
.al_l {text-align: left;}
.al_c {text-align: center;}


/*오른쪽메뉴*/
#right_menu {position:fixed;width:200px;height:100%;background:#333;box-sizing: border-box;z-index: 10;}
#right_menu .wrap {padding:10px;text-align:center;box-sizing: border-box;}
#right_menu .wrap p {color:#ccc;margin:10px 0;}
#right_menu .wrap input {width:100%;padding:8px;box-sizing: border-box;margin-bottom:5px;}
#right_menu .wrap a {display: inline-block;height:40px;width:100%;box-sizing: border-box;padding:10px;background: #444;border:1px solid #666;color:#fff; border-radius:3px;}
#right_menu .wrap ul {margin:10px 0;}
#right_menu .wrap ul>li {height:15px;padding: 10px;border-top:1px solid #555;color:#999;cursor: pointer;}
#right_menu .wrap ul>li:last-child {border-bottom:1px solid #555;}
#right_menu .wrap .active {color:#5e8cfc;font-weight: bold;}


/*내용*/
#wrap {padding:0 20px 0 230px;width:100%;box-sizing: border-box;min-width:960px;}
#wrap .top{padding: 40px 0 20px 0;border-bottom:2px solid #666;box-sizing: border-box;position:relative} 
#wrap .top .tit {font-size:20px;font-weight: bold;}
#wrap .top .r_area {float: right;margin-top: -20px;right:5px;}
#wrap .top .r_area input {padding:6px;background: #fff;}
#wrap .top .r_area a {color:#666;padding: 6px 15px;background: #eee; border:1px solid #aaa;font-weight: bold;margin-right:5px;  border-radius:3px;}
#wrap section {margin:10px 0; position:relative}
#wrap section .right_btn {position:absolute;top:0; right:0;}
#wrap section .sub_text{padding:10px 0;font-weight:bold;color:#5e8cfc;}
#wrap section .sub_text a {color:#666;padding: 6px 15px;background: #eee; border:1px solid #aaa;font-weight: bold;margin-right:5px;  border-radius:3px;}
#wrap section table {width:100%;margin-bottom:10px;}
#wrap section table thead {background: #eee;border-top:1px solid #ccc;border-bottom:1px solid #ccc;font-weight:bold;}
#wrap section table td{padding:10px;box-sizing: border-box;}
#wrap section table tbody td {border-bottom:1px solid #ddd;height: 55px;}
#wrap section table td a {display: inline-block;color:#666;padding: 5px 10px;background:#f1f1f1; border:1px solid #aaa;font-weight: bold;margin-right:5px; border-radius:3px;}
#wrap section .link_table tr{cursor:pointer;}
#wrap section .link_table tr:hover{background: #f4f6fa;}
#wrap section .sub_tit{margin-top:50px;padding:5px 10px;background: #aaa;color:#fff;}

.box_gray {border:1px solid #ddd;border-radius:8px;padding:10px;background: #fafafa;margin:10px 0;}
